a:link {
    color: #3a78ad;
}

a:visited {
    color: #3a78ad;
}

body {
    background-color: #aae3cb;
    color: #0d2328;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#content {
    width: 60%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}

.section-link .hint {
    font-size: 14px;
    opacity: 0;
    transition: 0.25s;
}

.section-link:hover .hint {
    visibility: visible;
    opacity: 1;
}
